.btn {
    background-color: #4476AF;
    padding: 2px 6px;
    margin: auto;
    color: $white;
    border: 2px solid #6993c3;
    border-radius: $radius-button;
    outline: none;
    cursor: pointer;
    user-select: none;
    transition: all .15s;
    &:hover {
        outline: none;
        background-color: $white;
        color: $brand-text-main;
        border: 2px solid #005CB9;
        box-shadow: none;
    }
    &:focus {
        outline: none;
        border: 2px solid #214064;
        box-shadow: none;
    }
    &:active {
        outline: none;
        background-color: #639fe2;
        color: $white;
        border: 2px solid #005CB9;
        box-shadow: none;
    }
}