.map-search-module {
    .search-controls {
        padding: 10px;
        border-bottom: 1px solid #e6e6e6;
    }
    .search-results {
        .result {
            padding: 6px 10px;
            background-color: $white;
            border-bottom: 1px solid #e6e6e6;
            cursor: pointer;
            user-select: none;
            &:nth-child(odd) {
                background-color: #f5f7ff;
            }
            &:focus {
                background-color: #eeeeee;
                outline: none;
            }
            &:hover {
                background-color: #eeeeee;
            }
            .result-icon {
                display: flex;
                padding: 6px 4px 6px 14px;
                svg {
                    height: 14px;
                    width: 14px;
                    color: #7598ce;
                }
            }
            .result-name {
                font-size: .9375rem;
                font-weight: 400;
            }
        }
    }
}