.map-module {
    .map {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
    .map-info {
        background-color: $white;
        position: absolute;
        top: 0;
        right: 0;
        max-width: calc(100% - 930px);
        min-width: 100px;
        margin: 10px;
        padding: 6px 0;
        border-radius: $radius-element;
        box-shadow: 0 0 4px 0 #bfbfbf;
        z-index: 3;
    }
    .map-filter {
        background-color: $white;
        position: absolute;
        left: -20px;
        height: 100%;
        width: 400px;
        padding: 10px;
        overflow: auto;
        z-index: 4;
        opacity: 0;
        pointer-events: none;
        transition: linear .1s all;
    }
    .map-filter-show {
        left: 0;
        opacity: 1;
        pointer-events: inherit;
    }
    .map-search {
        background-color: $white;
        position: absolute;
        height: 100%;
        width: 400px;
        // box-shadow: 0 0 0 1px #bfbfbf;
        box-shadow: 1px 0 3px 0 #bfbfbf;
        overflow: auto;
        z-index: 3;
    }
    .map-selected {
        background-color: $white;
        left: 400px;
        position: absolute;
        height: calc(100% - 20px);
        max-width: 450px;
        padding: 10px;
        margin: 10px;
        border-radius: $radius-element;
        // box-shadow: 0 0 0 1px #bfbfbf;
        box-shadow: 0 0 4px 0 #bfbfbf;
        overflow: auto;
        z-index: 4;
        opacity: 0;
        pointer-events: none;
        transition: linear .05s all;
    }
    .map-selected-show {
        opacity: 1;
        pointer-events: inherit;
    }
}