.map-module {
    .map {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
    .map-info {
        background-color: $white;
        position: absolute;
        top: 0;
        right: 0;
        max-width: calc(100% - 930px);
        margin: 10px;
        border-radius: $radius-element;
        z-index: 3;
    }
    .map-filter {
        background-color: $white;
        position: absolute;
        left: -20px;
        height: 100%;
        width: 450px;
        padding: 10px;
        overflow: auto;
        z-index: 4;
        opacity: 0;
        pointer-events: none;
        transition: linear .1s all;
    }
    .map-filter-show {
        left: 0;
        opacity: 1;
        pointer-events: inherit;
    }
    .map-search {
        background-color: $white;
        position: absolute;
        height: 100%;
        width: 450px;
        padding: 10px;
        overflow: auto;
        z-index: 3;
    }
    .map-results {
        background-color: $white;
        left: 450px;
        position: absolute;
        height: calc(100% - 20px);
        width: 450px;
        padding: 10px;
        margin: 10px;
        border-radius: $radius-element;
        overflow: auto;
        z-index: 4;
        opacity: 0;
        pointer-events: none;
        transition: linear .05s all;
    }
    .map-results-show {
        opacity: 1;
        pointer-events: inherit;
    }
}