.map-module {
    .map {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
    .map-info {
        background-color: $white;
        position: absolute;
        top: 0;
        right: 0;
        max-width: calc(100% - 930px);
        min-width: 100px;
        margin: 10px;
        padding: 6px 0;
        border-radius: $radius-element;
        box-shadow: 0 0 4px 0 #6d6d6d;
        z-index: 3;
    }
    .map-filter {
        background-color: $white;
        position: absolute;
        left: -20px;
        height: 100%;
        width: 400px;
        padding: 10px;
        overflow: auto;
        z-index: 4;
        opacity: 0;
        pointer-events: none;
        transition: linear .1s all;
    }
    .map-filter-show {
        left: 0;
        opacity: 1;
        pointer-events: inherit;
    }
    .map-search {
        background-color: $white;
        position: absolute;
        height: 100%;
        width: 400px;
        box-shadow: 1px 0 3px 0 #6d6d6d;
        overflow: auto;
        z-index: 3;
    }
    .map-selected {
        background-color: $white;
        left: 400px;
        position: absolute;
        height: calc(100% - 20px);
        max-width: 450px;
        padding: 10px;
        margin: 10px;
        border-radius: $radius-element;
        box-shadow: 0 0 4px 0 #6d6d6d;
        overflow: auto;
        z-index: 4;
        opacity: 0;
        pointer-events: none;
        transition: linear .05s all;
    }
    .map-selected-show {
        opacity: 1;
        pointer-events: inherit;
    }
}

@media handheld, only screen and (min-width: 651px) and (max-width: 980px) {
    .map-module {
        .map-info {
            max-width: calc(100% - 360px);
            min-width: calc(100% - 360px);
        }
        .map-selected {
            left: 340px;
            margin-top: 100px;
            height: calc(100% - 110px);
            max-width: calc(100% - 360px);
            width: calc(100% - 360px);
        }
        .map-filter {
            width: 340px;
        }
        .map-search {
            width: 340px;
        }
    }
}

@media handheld, only screen and (min-width: 0px) and (max-width: 650px) {
    .map-module {
        #map-main {
            display: none;
        }
        .map-info {
            max-width: 100%;
            min-width: 100%;
            margin: 0;
        }
        .map-selected {
            left: 0px;
            margin-top: 10px;
            height: calc(100% - 20px);
            max-width: calc(100% - 20px);
            width: calc(100% - 20px);
        }
        .map-filter {
            top: 80px;
            height: calc(100% - 80px);
            width: 100%;
        }
        .map-search {
            top: 80px;
            height: calc(100% - 80px);
            width: 100%;
        }
    }
}