.map-search-module {
    .search-controls {
        background-color: #fbfcfd;
        position: sticky;
        top: 0;
        padding: 10px 10px 0 10px;
        border-bottom: 1px solid #c9c9c9;
        z-index: 1;
        .controls-filter {
            color: #204269;
            font-weight: 400;
            cursor: pointer;
            user-select: none;
        }
    }
    .search-results {
        .result {
            padding: 8px 11px;
            background-color: $white;
            border-bottom: 1px solid #c9c9c9;
            cursor: pointer;
            user-select: none;
            &:nth-child(odd) {
                background-color: #f5f7ff;
            }
            &:focus {
                background-color: #eeeeee;
                outline: none;
            }
            &:hover {
                background-color: #eeeeee;
            }
            .result-icon {
                display: flex;
                padding: 3px 4px 3px 14px;
                svg {
                    height: 14px;
                    width: 14px;
                    color: #7598ce;
                }
            }
            .result-name {
                // font-size: .9375rem;
                font-size: .85rem;
                font-weight: 400;
            }
        }
    }
}